@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Cinzel", serif;
  list-style-type: none;
  text-decoration: none;
}

#root {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1920px;
}
