.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin: 50px 300px 20px 300px;
}
.container.success {
  opacity: 0.3;
  position: relative;
  z-index: 1;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
}
.logo-container h2 {
  font-size: 50px;
  color: #242c03;
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #93ad18;
  border-radius: 10px;
  padding: 50px;
  width: 600px;
}
.container h2 {
  color: #242c03;
}
#create-employee {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#create-employee .name,
#create-employee .date {
  display: flex;
  gap: 20px;
}
.birth-date,
.start-date {
  position: relative;
}
#create-employee .date .calendar-icon {
  position: absolute;
  width: 15px;
  right: 7px;
  bottom: 27px;
  cursor: pointer;
}
#create-employee .address-top,
#create-employee .address-bottom {
  display: flex;
  gap: 20px;
}
.state {
  flex: 1;
}
.zipcode {
  flex: 1;
}
label {
  display: block;
  margin: 10px;
}
input,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
select {
  width: 100%;
}
.address {
  margin-top: 10px;
}
.container button {
  margin: 30px;
  padding: 10px 20px;
  background-color: #242c03;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.container button:hover {
  font-weight: bold;
  background-color: #3c4606;
  cursor: pointer;
}
.modal-content {
  background-color: #3c4606;
  padding: 50px 70px;
  border-radius: 5px;
  position: absolute;
  font-weight: 700;
  z-index: 1000;
  color: #fff;
}
.faClose {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  background-color: #93ad18;
  padding: 2px 5px;
  cursor: pointer;
}
.daypicker-wrapper.none {
  display: none;
}

@media screen and (max-width: 768px) {
  .container-content {
    margin: 50px 0;
  }
  .container {
    width: 360px;
    padding: 20px 0;
  }
  .container h2 {
    font-size: 20px;
  }

  #create-employee .name,
  #create-employee .date,
  #create-employee .address-top,
  #create-employee .address-bottom {
    flex-direction: column;
    gap: 0;
  }
  input {
    width: 93%;
  }
}
