.container-employeesList {
  padding: 50px;
}
.employeesList-content .homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  color: #5a6f08;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .container-employeesList {
    padding: 20px;
  }
  .employeesList-content h1 {
    font-size: 20px;
  }
  #search {
    width: 50%;
  }
}
