.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #5a6f08;
  box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
.header .current-employees {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.header-left .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}
#logo {
  width: 80px;
}
.header-left .title h1 {
  font-size: 30px;
  margin: 0;
  color: #5b7008;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}
.header-right .current-employees {
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-shadow: 3px 3px 3px #242c03;
}
.header-right .current-employees:hover {
  text-shadow: none;
}
.current-employees.none {
  display: none;
}

.header-right .none {
  display: none;
}
.header-right .logout {
  background-color: #5b7008;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #242c03;
}
.header-right .logout:hover {
  color: #93ad18;
}
