.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #5a6f08;
  box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
.header .current-employees {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.header-left .title {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}
#logo {
  width: 50px;
  height: 50px;
}

.header-left .title h1 {
  padding: 30px 10px;
  font-size: 25px;
  margin: 0;
  color: #5b7008;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  padding: 20px;
}
.header-right .current-employees {
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-shadow: 3px 3px 3px #242c03;
}
.header-right .current-employees:hover {
  text-shadow: none;
}
.current-employees.none {
  display: none;
}

.header-right .none {
  display: none;
}
.header-right .logout {
  background-color: #5b7008;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #242c03;
}
.header-right .logout:hover {
  color: #93ad18;
}
#menu {
  display: none;
  width: 40px;
  height: 40px;
}
.list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #5a6f08;
  width: 100%;
  height: 400px;
  margin: 0;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
    height: 60px;
  }
  .header-left .title {
    gap: 5px;
  }
  .header-left .title h1 {
    font-size: 15px;
  }
  #logo {
    width: 60px;
    height: 60px;
  }
  .header-right {
    display: none;
  }
  .header-right .current-employees {
    font-size: 12px;
  }
  #menu {
    display: flex;
  }
  .list.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.9s ease-in-out;
    gap: 30px;
    padding: 20px;
  }
  .list.display a {
    color: #fff;
    cursor: pointer;
  }
  .list.display a:hover {
    background-color: #93ad18;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
  }
}
