.errorMessage {
  color: red;
}
.birth-date,
.start-date {
  width: 50%;
}
#start-date,
#date-of-birth {
  width: 90%;
}
input {
  font-family: "Roboto", sans-serif;
}
.search {
  border: 2px solid #930c18;
}
.search-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}
.search-input input {
  position: absolute;
  right: 71px;
  bottom: 2px;
}
.search-input label {
  position: absolute;
  right: 0;
  bottom: 2px;
  display: flex;
  align-items: center;
  background-color: #930c18;
  margin: 0;
  padding: 9px;
  border-radius: 5px;
}
