.errorMessage {
  color: red;
}
input {
  font-family: "Roboto", sans-serif;
}
.search {
  border: 2px solid #930c18;
  border-radius: 5px 0 0 5px;
}
.search-input {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}

.search-input label {
  display: flex;
  align-items: center;
  background-color: #930c18;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
}
