.table-container {
  overflow-x: auto;
}
#employee-table {
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 8px;
  border: 1px solid #5a6f08;
}
tr {
  background-color: #93ad18;
}
td.delete-edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
td.delete-edit-icon {
  font-size: 20px;
  cursor: pointer;
}
td.delete-edit-icon button {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
td.delete-edit-icon button:hover {
  letter-spacing: 0.5px;
  background-color: #5a6f08;
}
thead tr:nth-child(1) {
  background-color: #5a6f08;
  color: #fff;
}
tr:nth-child(1) th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.close p {
  cursor: pointer;
}
#confirmation {
  display: block;
  background-color: #3c4606;
  padding: 50px 70px;
  border-radius: 5px;
  position: absolute;
  font-weight: 700;
  z-index: 1000;
  color: #fff;
}
.faClose {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  background-color: #93ad18;
  padding: 2px 5px;
  cursor: pointer;
}
