.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-select {
  display: flex;
  align-items: center;
}
.list-select select {
  width: 70px;
  height: 40px;
  border: 1px solid #930c18;
  margin: 0 5px;
  padding: 5px;
}
.redBorder {
  border: 2px solid #930c18;
  margin-bottom: 20px;
}
.redBorder::placeholder {
  font-family: "Cinzel", sans-serif;
  color: #930c18;
  font-weight: 700;
  opacity: 0.5;
}
.p-datatable .p-datatable-thead > tr > th {
  color: #000;
  background: #5a6f08;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #000;
}
.p-datatable
  .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
  background: #3c4606;
  color: #fff;
}
.p-datatable .p-sortable-column svg.p-sortable-column-icon:focus {
  color: #fff;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
    .p-datatable-tbody
  )
  .p-datatable-tbody
  > tr
  > td {
  color: #000;
  background: #93ad18;
}

.p-dropdown-trigger,
.p-dropdown-label.p-inputtext {
  border: 2px solid #930c18;
}
.p-dropdown-trigger {
  border-left: none;
}
.p-dropdown-label.p-inputtext {
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #930c18;
  font-weight: 500;
}
.p-icon.p-clickable {
  color: #930c18;
}
