.employeesList-content #employee-table {
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 8px;
}
td {
  background-color: #93ad18;
}
td.delete-edit-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 5px;
}
td.delete-edit-icon svg {
  cursor: pointer;
  padding: 3px 0;
}
th {
  position: relative;
}
th svg {
  position: absolute;
  right: 10px;
  top: 30%;
}
th svg:hover {
  cursor: pointer;
}
thead tr:nth-child(1) {
  background-color: #5a6f08;
  color: #fff;
}
tr:nth-child(1) th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
